:root {
    --background-color: #f6f5f4;
    --color: #000000;
    --icon-color: #5e5c64;
    --accent-color: #c64600;
    --accent-text-color: #ffffff;

    --button-icon-hover-color: rgba(255, 255, 255, .2);
}

[data-theme="dark"] {
    --background-color: #241f31;
    --color: #ffffff;
    --icon-color: #ffffff;
}

html,
body {
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--color);

    font-family: sans-serif;
}

/***********
 * APP BAR *
 ***********/

header {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px 10px;
}

.text-title {
    font-size: 1.2em;
}

/****************
 * ICON BUTTONS *
 ****************/

button.icon {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 0 10px 0 0;

    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

button.icon:hover {
    cursor: pointer;
    background-color: var(--button-icon-hover-color);
    border-radius: 50%;
}

.icon.large svg {
    height: 24px;
}

header svg path {
    fill: var(--accent-text-color);
}

svg path {
    --fill: var(--color);
}

