:root {
    --background-color: #f6f5f4;
    --color: #000000;
    --secondary-color: #77767b;

    --icon-color: #5e5c64;
    --accent-color: #c64600;
    --accent-text-color: #ffffff;

    --card-background-color: #ffffff;
    --card-drop-shadow: #deddda;

    --button-icon-hover-color: rgba(0, 0, 0, .2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #3d3846;
        --color: #ffffff;
        --icon-color: #ffffff;

        --card-background-color: #241f31;
    }
}

html,
body {
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--color);

    font-family: sans-serif;
}

.content {
    margin: 2% 5% 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

/***********
 * APP BAR *
 ***********/

header {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px 10px;
}

.text-title {
    font-size: 1.2em;
}

.text-body {
    font-size: .9em;
}

.text-secondary {
    color: var(--secondary-color);
}

/****************
 * ICON BUTTONS *
 ****************/

button.icon {
    background-color: transparent;
    border: none;
    padding: 10px;

    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

button.icon:hover {
    cursor: pointer;
    background-color: var(--button-icon-hover-color);
    border-radius: 50%;
}

.icon svg {
    height: 24px;
}

header svg path {
    fill: var(--accent-text-color);
}

svg path {
    --fill: var(--color);
}

/*********
 * CARDS *
 *********/

.card {
    background-color: var(--card-background-color);
    border-radius: 20px;

    box-shadow: 5px 5px 3px var(--card-drop-shadow);
}

.card-content {
    display: flex;
    flex-direction: column;

    padding: 15px;

    row-gap: 5px;
}

.card-actions {
    display: flex;
    flex-direction: row;

    padding: 5px;
}
