:root {
    --background-color: #f6f5f4;
    --color: #000000;
    --secondary-color: #77767b;

    --icon-color: #5e5c64;
    --accent-color: #c64600;
    --accent-text-color: #ffffff;

    --card-background-color: #ffffff;
    --card-drop-shadow: #deddda;

    --button-icon-hover-color: rgba(0, 0, 0, .2);
    --modal-background-color: rgba(0, 0, 0, .5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #3d3846;
        --color: #ffffff;
        --secondary-color: #9a9996;

        --icon-color: #ffffff;

        --card-drop-shadow: #241f31;

        --card-background-color: #241f31;
    }
}

html,
body {
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--color);

    font-family: sans-serif;
}

.content {
    margin: 2% 5% 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

/***********
 * APP BAR *
 ***********/

header {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px 10px;
}

.text-title {
    font-size: larger;
}

.text-body {
    font-size: .9em;
}

.text-secondary {
    color: var(--secondary-color);
}

/****************
 * ICON BUTTONS *
 ****************/

button {
    transition: background .3s ease-in-out;
}

button.icon {
    background-color: transparent;
    border: none;
    padding: 10px;

    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

button.icon:hover {
    cursor: pointer;
    background-color: var(--button-icon-hover-color);
}

.icon svg {
    height: 24px;
}

header svg path {
    fill: var(--accent-text-color);
}

svg path {
    fill: var(--color);
}

/****************
 * TEXT BUTTONS *
 ****************/

button.text {
    color: var(--accent-color);
    background-color: transparent;
    border: none;

    font-size: medium;
    padding: 10px;
    border-radius: 10px;

    text-transform: uppercase;
}

button.text:hover {
    cursor: pointer;
    background-color: var(--button-icon-hover-color);
}

/*****************
 * RADIO BUTTONS *
 *****************/

fieldset {
    color: var(--color);
}

fieldset > input {
    width: 100%;
}

/*********
 * CARDS *
 *********/

.card {
    background-color: var(--card-background-color);
    border-radius: 20px;

    box-shadow: 5px 5px 3px var(--card-drop-shadow);
}

.card-content {
    display: flex;
    flex-direction: column;

    padding: 15px;

    row-gap: 5px;
}

.card-actions {
    display: flex;
    flex-direction: row;

    padding: 5px;
}

/**************
 * TEXT INPUT *
 **************/

input[type="text"],
input[type="number"],
input[type="datetime-local"] {
    border-style: none none solid none;

    background-color: var(--card-background-color);
    color: var(--color);
}

input:focus {
    border-style: none none solid none;
    border-color: var(--accent-color);
    outline: none;
}

/************************
 * APPLICATION SPECIFIC *
 ************************/

.add-new {
    margin-bottom: 20px;
}

.drawer .card {
    margin-top: 2%;
}

.card-list {
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
}

.persist {
    margin-bottom: 2%;
}

.modal[data-type="dialog"] label {
    display: flex;
    flex-direction: column;

    margin: 5px 0;
}

/*********
 * MODAL *
 *********/

.modal {
    z-index: 1;
    background-color: var(--modal-background-color);
}

.modal-left {
    position: fixed;
    top: 0;
    left: 0;

    width: 0;
    height: 100vh;
    overflow: hidden;

    transition: width .5s ease-in-out;
}

.modal-top {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 0;
    overflow: hidden;

    transition: height .5s ease-in-out;
}

.modal-left[data-open="true"] {
    width: 100%;
}

.modal[data-type="dialog"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-top[data-open="true"] {
    height: 100vh;
}

.drawer {
    background-color: var(--card-background-color);
    width: 500px;
    height: 100%;
    padding: 10px;
}

.dialog {
    flex-direction: column;
}

.dialog-actions {
    justify-content: right;
}

@media only screen and (max-width: 500px) {
    .drawer {
        width: 60vw;
    }

    .card-list {
        flex-direction: column;
    }
}

.drawer > button {
    width: 100%;
}
